<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">MicroShop Customers</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link :to="{ name: 'customer-list' }" class="nav-link">
            <font-awesome-icon icon="list"/> List
          </router-link>
        </li>
        <li class="nav-item">
          <router-link :to="{ name: 'customer-add' }" class="nav-link">
            <font-awesome-icon icon="plus-square"/> Add
          </router-link>
        </li>
      </div>
    </nav>

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
};
</script>

<style>
.input-errors {
  color: crimson;
}
.notification-alert {
  margin: 0.5em 0;
  text-align: center;
  box-shadow: 0 1px 4px rgb(0 0 0 / 12%), 0 0 6px rgb(0 0 0 / 4%);
  border-radius: 0.5em;
  padding: 0.75em 1.5em;
}
</style>
