<template>
  <div class="form">
    <div v-if="!submitted">
      <h4>Add Customer</h4>

      <div>
        <div v-for="e of entity.config" :key="e.field">
          <div class="form-group">
            <label for="{{e.field}}">{{ e.label }}</label>
            <input
              type="text"
              class="form-control"
              id="{{e.field}}"
              v-model="entity[e.field]"
              name="{{e.field}}"
            />
            <div
              class="input-errors"
              v-for="e of state.errors[e.field]"
              :key="e"
            >
              <div class="error-msg">{{ e }}</div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button class="btn btn-secondary mr-2" @click="handleCancel">
          <font-awesome-icon icon="ban" /> Cancel
        </button>
        <button class="btn btn-success" @click="handleSave">
          <font-awesome-icon icon="save" /> Save
        </button>
      </div>
    </div>

    <div v-else>
      <h4>Record saved!</h4>

      <div>
        <button class="btn btn-secondary mr-2" @click="handleCancel">
          <font-awesome-icon icon="list" /> Show list
        </button>
        <button class="btn btn-success" @click="handleAddNew">
          <font-awesome-icon icon="plus-square" /> Add another
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Customer from "./Customer";
import DataService from "@/services/CustomerDataService";
import State from "@/util/State";
import useVuelidate from "@vuelidate/core";

export default {
  name: "customer-add",
  setup() {
    return {
      vuelidate: useVuelidate(),
    };
  },
  data() {
    return {
      state: new State(),
      submitted: false,
      ...Customer.getDataConfig(),
    };
  },
  validations() {
    return Customer.getValidationsConfig();
  },
  methods: {
    navigateToList() {
      this.$router.push({ name: "customer-list" });
    },

    //// handlers ////
    async handleSave() {
      this.state.resetErrors();

      if (!(await this.vuelidate.$validate())) {
        this.state.setErrorsFromVuelidate(this.vuelidate);
        return;
      }

      DataService.create(Customer.getData(this))
        .then(() => {
          this.submitted = true;
        })
        .catch((e) => {
          this.state.setErrorsFromServer(e);
        });
    },

    handleCancel() {
      this.navigateToList();
    },

    handleAddNew() {
      this.submitted = false;
      Customer.resetData(this);
    },
  },
};
</script>

<style>
.form {
  max-width: 300px;
  margin: auto;
}
</style>