<template>
  <div class="form">
    <h4>Edit Customer</h4>

    <div>
      <form>
        <div v-for="e of entity.config" :key="e.field">
          <div class="form-group">
            <label for="{{e.field}}">{{ e.label }}</label>
            <input
              type="text"
              class="form-control"
              id="{{e.field}}"
              v-model="entity[e.field]"
              name="{{e.field}}"
            />
            <div
              class="input-errors"
              v-for="e of state.errors[e.field]"
              :key="e"
            >
              <div class="error-msg">{{ e }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div>
      <button class="btn btn-secondary mr-2" @click="handleCancel">
        <font-awesome-icon icon="ban" /> Cancel
      </button>
      <button type="submit" class="btn btn-success" @click="handleSave">
        <font-awesome-icon icon="save" /> Save
      </button>
    </div>
  </div>
</template>

<script>
import Customer from "./Customer";
import DataService from "@/services/CustomerDataService";
import State from "@/util/State";
import useVuelidate from "@vuelidate/core";

export default {
  name: "customer-edit",
  setup() {
    return {
      vuelidate: useVuelidate(),
    };
  },
  data() {
    return {
      state: new State(),
      ...Customer.getDataConfig(true),
    };
  },
  validations() {
    return Customer.getValidationsConfig();
  },
  methods: {
    retrieve(id) {
      DataService.get(id)
        .then((response) => {
          Customer.setData(this, response.data, true);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    navigateToList() {
      this.$router.push({ name: "customer-list" });
    },

    //// handlers ////

    async handleSave() {
      this.state.resetErrors();

      if (!(await this.vuelidate.$validate())) {
        this.state.setErrorsFromVuelidate(this.vuelidate);
      }

      const data = Customer.getData(this, true);
      DataService.update(data.id, data)
        .then(() => {
          this.navigateToList();
        })
        .catch((e) => {
          this.state.setErrorsFromServer(e);
        });
    },

    handleCancel() {
      this.navigateToList();
    },
  },

  mounted() {
    this.retrieve(this.$route.params.id);
  },
};
</script>

<style>
.form {
  max-width: 300px;
  margin: auto;
}
</style>