<template>
  <div class="list">
    <div class="row col-md-12 mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search by email or lastname"
          v-model="search"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            @click="handleSearch()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <ul class="list-group">
          <li
            class="list-group-item"
            :class="{ active: index == currentIndex }"
            v-for="(customer, index) in customers"
            :key="index"
            @click="setActive(customer, index)"
          >
            {{ customer.fullname }}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div v-if="current">
          <div>
            <div>
              <label><strong>Firstname:</strong></label>
              {{ current.firstname }}
            </div>
            <div>
              <label><strong>Lastname:</strong></label>
              {{ current.lastname }}
            </div>
            <div>
              <label><strong>Email:</strong></label>
              {{ current.email }}
            </div>
          </div>

          <div>
            <button class="btn btn-success mr-2" @click="handleEdit">
              <font-awesome-icon icon="edit" /> Edit
            </button>
            <button class="btn btn-danger" @click="handleDelete">
              <font-awesome-icon icon="trash-alt" /> Delete
            </button>
          </div>
        </div>
        <div v-else>
          <p>Please select a Customer...</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <hennge-pagination
          v-model="page"
          :pages="totalPages"
          active-color="#DCEDFF"
          @update:modelValue="handlePageChange"
        />
      </div>
      <div class="col-md-8" id="pageSize">
        per page:
        <select v-model="pageSize" @change="handlePageSizeChange($event)">
          <option v-for="size in pageSizes" :key="size" :value="size">
            {{ size }}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import DataService from "@/services/CustomerDataService";
import HenngePagination from "@hennge/vue3-pagination";
import "@hennge/vue3-pagination/dist/vue3-pagination.css";

export default {
  components: {
    HenngePagination,
  },
  name: "customer-list",
  data() {
    return {
      customers: [],
      current: null,
      currentIndex: -1,
      search: "",

      page: 1,
      totalPages: 0,
      pageSize: 5,
      pageSizes: [5, 10, 50],
    };
  },
  methods: {
    setActive(customer, index) {
      this.current = customer;
      this.currentIndex = customer ? index : -1;
    },

    getRequestParams(search, page, pageSize) {
      let params = {};
      if (search) {
        params["search"] = search;
      }
      if (page) {
        params["page"] = page;
      }
      if (pageSize) {
        params["size"] = pageSize;
      }
      return params;
    },

    retrieveAll(page) {
      if (page) {
        this.page = page;
      }

      const params = this.getRequestParams(
        this.search,
        this.page,
        this.pageSize
      );

      DataService.getAll(params)
        .then((response) => {
          this.customers = response.data.content;
          this.totalPages = response.data.meta.pages;
          this.setActive(null);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    navigate(name, params) {
      let navTo = {
        name: name,
      };
      if (params) {
        navTo["params"] = params;
      }
      this.$router.push(navTo);
    },

    //// handlers ////
    //
    // All clickable UI elements have their corresponding handleXYZ method, even
    // if it's just a passthrough to another method. This serves a few purposes:
    // 1. there should be as little logic in the view as possible
    // 2. more robust code for when the time for refactoring inevitably comes
    // 3. it's immediately very clear which methods are called by the view/user
    //    and which are meant for internal use.
    handlePageChange(value) {
      this.retrieveAll(value);
    },

    handlePageSizeChange(event) {
      this.pageSize = event.target.value;
      this.retrieveAll(1);
    },

    handleSearch() {
      this.retrieveAll(1);
    },

    handleEdit() {
      this.navigate("customer-edit", { id: this.current.id });
    },

    handleDelete() {
      DataService.remove(this.current.id)
        .then((response) => {
          console.log("* response:", response);
          this.retrieveAll();
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },

  mounted() {
    this.retrieveAll();
  },
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.Page-active {
  color: white;
  background-color: rgb(0, 123, 250) !important;
}
#pageSize {
  display: flex;
  font-size: 14px;
  color: dimgrey;
  padding-left: 0;
}
#pageSize select {
  margin: 3px 0 0 3px;
}
</style>